<div class="card">   
<%#"プロトタイプの画像"%>
  <%= link_to image_tag(movie.image, class: :card__img ), movie_path(movie.id)%>
  <div class="card__body">
  <%#"プロトタイプのタイトル"%>
    <%= link_to movie.title, movie_path(movie.id), class: :card__title%>
    <p class="card__summary">
    <%#"プロトタイプのキャッチコピー"%>
      <%= movie.phrase %>
    </p><%#"by プロトタイプの投稿者名"%>
    <%= link_to movie.user.name, user_path(movie.user), class: :card__user %>
  </div>
</div>