<div class="card">   
  <%= link_to image_tag(movie.image, class: :card__img ), movie_path(movie.id)%>
  <div class="card__body">
    <%= link_to movie.title, movie_path(movie.id), class: :card__title%>
    <p class="card__summary">
      <%= movie.phrase %>
    </p>
    <%= link_to movie.user.name, user_path(movie.user), class: :card__user %>
  </div>
</div>