<div class='title-contents'>
    <h2 class='service-title'>
      人生を変えるフリマアプリ
    </h2>
    <p class='service-explain'>
      FURIMAはだれでもかんたんに出品・購入できる
    </p>
    <p class='service-explain'>
      フリマアプリです
    </p>
    </div>

<div class="contents row">
  <% @movies.each do |movie| %>
    <div class="content_post" style="background-image: url(<%= movie.image %>);">
      <p><%= movie.text %></p>
      <span class="name">
        <%= movie.title %>
      </span>
    </div>
  <% end %>
</div>